<%= stylesheet_link_tag('styles')%>
<footer>
	<section id="footer-area">
		<div class="footerhead">work with us:</div>
		<div class="footerhead1">Have an idea? Let us help you make it real! Our IT experts are here to work with you:</div>
		<table class="footercontactimage">
			<td class="usfooter">
				<span class="footerindia">US Number</span><br>
				<span class="footerindia2">+1-719-651 5518</span>
			</td>
			<td class="indiafooter">
				<span class="footerindia">INDIA Direct Number</span><br>
				<span class="footerindia2">+91-40-4017 7227</span>
			</td>
			<td class="emailfooter">		
				<span class="footerindia">Email Us @</span><br>
				<span class="footerindia2">contact@maisasolutions.com</span>
			</td>
			<td class="skypefooter">		
				<span class="footerindia">Chat With Us @</span><br>
				<span class="footerindia2">maisasolutions</span>
			</td>
		</table>
		<div class="footermenu"> <a href="Home">Home</a> | <a href="WhoWeAre">About Us</a> | <a href="InquireNow">Inquire Now</a> | <a href="Sitemap">Sitemap</a> | <a href="ContactUs">Contact Us</a></div>
		<section id="footerfont">&#169;2012 Maisa Solutions. All rights reserved.</section>
		</section>
		</footer>